body {
    font-family: Segoe UI; 
    color: black;
    font-size: large;
}
.container {
    width: 100%; 
    overflow: hidden; 
}
img{
    width: 100%;
    object-fit: cover;
}
body {
     background-color: blanchedalmond; 
    }

 .navbar {
     background-color:lightseagreen;
     font-family:'Segoe UI';
   
/* #4A90E2 */
}
.card {
    background-color:blanchedalmond;
    border: none;
}