body {
    font-family: Segoe UI; 
    color: black;
    font-size: large;
}
.container {
    width: 100%; 
    overflow: hidden; 
}
img{
    width: 100%;
    object-fit: cover;
}
body {
     background-color: grey 
    }

 .navbar {
     background-color: goldenrod;
     font-family:'Segoe UI';
   

}
.card {
    background-color: grey; 
    border: none;
}